/* Global settings */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #121212;
  /* Dark background for the body */
  color: #e0e0e0;
  /* Light text for readability */
}

img {
  width: 10%;
  height: auto;
  margin: 0 auto;
  display: block;
}

/* #region switch mode button*/

/* nightmode.css - Dark Style CSS for Night Mode */

#toggleNightMode {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  /* Make the text bold */
  text-shadow: 1px 1px 2px #000;
  /* Text shadow for better readability */
  color: #4caf50;
  /* Bright green color for text */
  background-color: #333;
  /* Dark grey background */
  border: 2px solid #444;
  /* Slightly lighter border for subtle definition */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#toggleNightMode:hover {
  background-color: #222;
  /* Even darker on hover for interaction feedback */
  color: #388e3c;
  /* Darker green to maintain visibility */
}

#toggleNightMode:focus {
  outline: none;
  /* Remove default focus outline */
  box-shadow: 0 0 0 2px #bbb;
  /* Custom focus style in light grey */
}




/* #endregion */


/* #region feedback form*/

h1 {
  color: #ccc;
  text-align: center;
}

p {
  color: #ccc;

  text-align: center;

}

form {
  background: #333;
  /* Darker background for form */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 20px auto;
}

label {
  color: #bbb;
  /* Light gray text for labels */
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #555;
  /* Darker border for inputs */
  background-color: #222;
  /* Dark input backgrounds */
  color: #ddd;
  /* Light text for input */
  border-radius: 4px;
  font-size: 16px;
}

input[type="submit"],
input[type="reset"] {
  cursor: pointer;
  border: none;
  color: white;
  background-color: #007bff;
  /* Blue background for the submit button */
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 16px;
  width: 49%;
  display: inline-block;
}

input[type="reset"] {
  background-color: #f44336;
  /* Red background for the reset button */
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  opacity: 0.8;
}

input[type="checkbox"] {
  margin-right: 10px;
  width: auto;
  /* Default width for better alignment */
}

.checkbox-container {
  color: #ccc;
  /* Light gray text for checkbox label */
  margin-bottom: 10px;
}

textarea {
  resize: vertical;
}

/* #endregion */
a {
  color: #bb86fc;
  /* Light purple link color for better visibility */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #ff79c6;
  /* Light pink color for hover state */
}

/* Container */
.container {
  display: flex;
  width: 100%;
}

/* Sidebar navigation */
.sidebar {
  background-color: #333;
  color: white;
  padding: 15px;
  width: 300px;
  height: 100vh;
  overflow-y: auto;
}

.sidebar h1 {
  font-size: 24px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;

}

.sidebar ul li a:hover {
  background-color: #555;
}



/* Main content */
.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background: #212121;
  /* Darker background for main content area */
  box-sizing: border-box;
  line-height: 1.6;
}

.main-content p {
  font-size: 16px;
  color: #e0e0e0;
  /* Light grey text for paragraphs */
}

.main-content h2 {
  color: #03dac6;
  /* Cyan color for headings */
  text-align: center;
}

.main-content iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 0;
}

h2 {
  color: #008a00;

  text-align: center;
}

/* Passion section */
.passion-section {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #333;
  /* Dark background for sections */
  border-left: 5px solid #bb86fc;
  /* Purple border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.passion-section h3 {
  margin-top: 0;
  color: #e0e0e0;
  /* Light text color */
}

/* Equipment page */
.racket-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.racket-item {
  background-color: #424242;
  /* Dark grey background for items */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  overflow: hidden;
}

.racket-img {
  width: 100%;
  display: block;
}

.racket-content {
  padding: 20px;
  text-align: center;
}

/* Call to actions */
.cta-primary,
.cta-secondary {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 5px;
  width: fit-content;
  font-weight: bold;
}

.cta-primary {
  background-color: #6200ee;
  /* Deep purple background for primary button */
  color: white;
}

.cta-secondary {
  background-color: #03dac5;
  /* Teal background for secondary button */
  color: black;
}

.cta-primary:hover {
  background-color: #3700b3;
  /* Darker purple on hover */
}

.cta-secondary:hover {
  background-color: #018786;
  /* Darker teal on hover */
}

/* Source log table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #6200ee;
  /* Deep purple for table headers */
  color: white;
}

tr:hover {
  background-color: #424242;
  /* Dark grey for row hover */
}



/* #region social networking */

.crt-logo {
  text-decoration: none;
  color: #fff;
  background: #333;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
}

.crt-logo:hover {
  background-color: #555;
}


.horizontal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  /* Adds 20px gap between each item */
}





/* #endregion */


/* #region Join Us calendar*/

/* #region Navigation dots container for validation report*/



.dots-container {
  position: absolute;
  bottom: 50px;
  /* Adjust based on your design preference */
  width: 100%;
  text-align: center;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

.active {
  background-color: #717171;
  /* Darker color for the active dot */
}

.close-btn {
  position: absolute;
  top: 100px;
  right: 100px;
  font-size: 100px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  /* // Make sure it's higher than anything else. */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 90%;
  /* // Use 90% of the container's width */
  height: 100vh;
  /* // Use 80% of the viewport height */
  object-fit: contain;
  /* // Maintain the aspect ratio */
  border: none;
  /* // Remove any border */
}

/* #endregion */


#scheduleTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
}

#scheduleTable th,
#scheduleTable td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

#scheduleTable th:first-child,
#scheduleTable td:first-child {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#scheduleTable th {
  background-color: #007bff;
  color: white;
}

#scheduleTable td {
  transition: background-color 0.3s ease;
  cursor: pointer;
  /* Smooth transition for background color */
}

/* Add to your existing CSS */
#scheduleTable td.selected {
  background-color: #66bb6a;
  /* Green to indicate selection */
}

#scheduleTable .available {
  background-color: #dff0d8;
  /* Light green for available slots */
}

#scheduleTable .unavailable {
  background-color: #f2dede;
  /* Light red for unavailable slots */
}

/* Change background color on hover */
#scheduleTable td:hover {
  background-color: #cccccc;

}

#scheduleTable .available:hover {
  background-color: #c3e6cb;
  /* A lighter green on hover for available slots */
}

#scheduleTable .unavailable:hover {
  background-color: #f8d7da;
  /* A lighter red on hover for unavailable slots */
}

/* Light yellow background for hover effect */

#scheduleTable .hover-effect {
  border-width: 2px;
  border-color: blue;
  /* background-color: #007bff; */
  /* color: blue; */
}

/* #endregion */